<mat-card>
  <mat-progress-bar [value]="progressBarValue"></mat-progress-bar>

  <form [formGroup]="videoForm" *ngIf="formStepNumber === 0">
    <h3>Detalhes do vídeo</h3>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Link</mat-label>
      <input matInput formControlName="link" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Idioma</mat-label>
      <input matInput formControlName="language" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Dificuldade</mat-label>
      <mat-select name="difficulty" formControlName="difficulty">
        <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary" (click)="nextFormStep()" [disabled]="videoForm.invalid">Próximo</button>
  </form>

  <form class="container" [formGroup]="transcriptionForm" *ngIf="formStepNumber === 1">
    <h3>Detalhes da transcrição</h3>
    <mat-form-field>
      <mat-label>Texto</mat-label>
      <input matInput formControlName="content" placeholder="Let’s assume your monthly income were to somehow double." />
    </mat-form-field>
    <button mat-button color="primary" (click)="previousFormStep()">Voltar</button>
    <button mat-button color="primary" (click)="nextFormStep()" [disabled]="transcriptionForm.invalid">Próximo</button>
  </form>

  <form class="container" [formGroup]="subtitleForm" *ngIf="formStepNumber === 2">
    <h3>Detalhes da tradução</h3>
    <mat-form-field>
      <mat-label>Texto</mat-label>
      <input matInput formControlName="content" placeholder="Vamos assumir que sua renda mensal de alguma maneira dobrasse." />
    </mat-form-field>
    <button mat-button color="primary" (click)="previousFormStep()">Voltar</button>
    <button mat-button color="primary" (click)="createVideo()" [disabled]="subtitleForm.invalid">Criar vídeo</button>
  </form>

</mat-card>
