<div *ngIf="isLoading" id="loading">
  <mat-spinner></mat-spinner>
  <p id="loading-text"></p>
</div>

<mat-card class="video-card" *ngFor="let video of videos">
  <mat-card-header>
    <mat-card-title>
      <a [routerLink]="['/video', video.id]">
        {{video.title}}
      </a>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="video.thumbnail"/>
  <mat-card-content>
    <mat-icon aria-hidden="false" aria-label="Idioma do vídeo">language</mat-icon> {{video.language}}
    <br>
    <br>
    <mat-icon aria-hidden="false" aria-label="Dificuldade">psychology</mat-icon> {{video.difficulty}}
    <br>
    <br>
    <mat-icon aria-hidden="false" aria-label="Criado por">person</mat-icon> {{video.createdBy}}
    <br>
    <br>
    <mat-icon aria-hidden="false" aria-label="Criado em">access_time</mat-icon> {{video.createdAt | date:'dd/MM/yyyy - HH:mm:ss'}}
  </mat-card-content>
</mat-card>
<button mat-fab color="primary" id="create-video-button">
  <mat-icon>add</mat-icon>
</button>
