a {
  text-decoration: none;
  font-weight: normal;
  color: white;
  margin: 10px;
}

.active-link {
  font-weight: bold;
}

mat-toolbar {
  margin: 0px;
  top: 0px;
  position: sticky;
  z-index: 9999;
}
